:root {
  --pixel-size: 0.5vw;
  --grid-cell: calc(var(--pixel-size) * 34);
  --board-pixel-size: 1px;
  --board-grid-cell: calc(var(--board-pixel-size) * 37);
  --bg: #9fa7e4;
}

#aliveTreeCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth2.png");
  background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  background-size: 100%;
  width: calc(var(--board-grid-cell) * 37);
  height: calc(var(--board-grid-cell));
  animation: boardGrowAnimation 0.38s steps(35) 1 forwards;
  overflow: hidden;
}

#deadTreeCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth2.png");
  background-size: 100%;
  width: calc(var(--board-grid-cell) * 37);
  height: calc(var(--board-grid-cell));
  animation: boardDieAnimation 0.38s steps(35) 1 forwards;
  overflow: hidden;
}

#aliveFlowerCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/flower-growth.png");
  background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  background-size: 100%;
  width: calc(var(--board-grid-cell) * 37);
  height: calc(var(--board-grid-cell));
  animation: boardGrowAnimation 0.38s steps(35) 1 forwards;
  overflow: hidden;
}

#deadFlowerCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/flower-growth.png");
  background-size: 100%;
  width: calc(var(--board-grid-cell) * 37);
  height: calc(var(--board-grid-cell));
  animation: boardDieAnimation 0.38s steps(35) 1 forwards;
  overflow: hidden;
}

#spritesheet {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth.png");
  background-size: 100%;
  width: calc(var(--grid-cell) * 34);
  height: calc(var(--grid-cell));
  animation: frontPageGrowAnimation 3.5s steps(33) 1 forwards;
  animation-delay: 1s;
}

#cellHero {
  margin: auto;
  width: calc(var(--board-grid-cell));
  height: calc(var(--board-grid-cell));
  overflow: hidden;
  background: none;
}

#hero {
  margin: auto;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  overflow: hidden;
}

@keyframes boardGrowAnimation {
  from {
    background-position: calc(var(--board-grid-cell) * 1) calc(0px);
  }

  to {
    background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  }
}

@keyframes boardDieAnimation {
  from {
    background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  }
  to {
    background-position: calc(var(--board-grid-cell) * 1) calc(0px);
  }
}

@keyframes frontPageGrowAnimation {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: calc(var(--grid-cell) * -33) calc(0px);
  }
}

.simCard {
  transition: margin 0.2s ease-in-out;
}

.simCard:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}
