:root {
  --pixel-size: 0.5vw;
  --grid-cell: calc( var(--pixel-size) * 34);
  --bg: #9fa7e4;
}

#spritesheet {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth.png");
  background-size: 100%;
  width: calc( var(--grid-cell) * 34);
  height: calc( var(--grid-cell));
  animation: growAnimation 3.5s steps(33) 1 forwards;
  animation-delay: 3s;
}

#hero {
  margin: auto;
  width: calc( var(--grid-cell));
  height: calc( var(--grid-cell));
  overflow: hidden;
}

@keyframes growAnimation {
  from { background-position: 0px 0px; }
  to { background-position: calc(var(--grid-cell) * -33) calc(0px); }
}