:root {
  --pixel-size: 0.5vw;
  --grid-cell: calc( var(--pixel-size) * 34);
  --board-pixel-size: 1px;
  --board-grid-cell: calc( var(--board-pixel-size) * 37);
  --bg: #9fa7e4;
}

#aliveTreeCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth2.png");
  background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  background-size: 100%;
  width: calc( var(--board-grid-cell) * 37);
  height: calc( var(--board-grid-cell));
  animation: boardGrowAnimation .38s steps(35) 1 forwards;
  overflow: hidden;
}

#deadTreeCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth2.png");
  background-size: 100%;
  width: calc( var(--board-grid-cell) * 37);
  height: calc( var(--board-grid-cell));
  animation: boardDieAnimation .38s steps(35) 1 forwards;
  overflow: hidden;
}

#aliveFlowerCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/flower-growth.png");
  background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  background-size: 100%;
  width: calc( var(--board-grid-cell) * 37);
  height: calc( var(--board-grid-cell));
  animation: boardGrowAnimation .38s steps(35) 1 forwards;
  overflow: hidden;
}

#deadFlowerCell {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/flower-growth.png");
  background-size: 100%;
  width: calc( var(--board-grid-cell) * 37);
  height: calc( var(--board-grid-cell));
  animation: boardDieAnimation .38s steps(35) 1 forwards;
  overflow: hidden;
}

#spritesheet {
  image-rendering: pixelated;
  margin: auto;
  background-image: url("/growth.png");
  background-size: 100%;
  width: calc( var(--grid-cell) * 34);
  height: calc( var(--grid-cell));
  animation: frontPageGrowAnimation 3.5s steps(33) 1 forwards;
  animation-delay: 1s;
}

#backgroundBirthAnimation {
  width: 100%;
  height: 100%;
  animation-name: birthAnimation;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: .2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#backgroundDeathAnimation {
  width: 100%;
  height: 100%;
  animation-name: deathAnimation;
  animation-duration: 0.4;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

#cellHero {
  margin: auto;
  width: calc( var(--board-grid-cell));
  height: calc( var(--board-grid-cell));
  overflow: hidden;
  background: none;
}

#hero {
  margin: auto;
  width: calc( var(--grid-cell));
  height: calc( var(--grid-cell));
  overflow: hidden;
}

@keyframes boardGrowAnimation {
  
  from { 
    background-position: calc(var(--board-grid-cell) * 1) calc(0px);
  }

  to { 
    background-position: calc(var(--board-grid-cell) * 36) calc(0px);
  }
}

@keyframes birthAnimation{
  0% {
    transform: scale(.3);
    background-color: rgba(226, 235, 52, 0.75);
    border-radius: 100%;
  }


  75% {
    transform: scale(1.2);
    background-color: rgba(52, 235, 110, 0.3)
  }

  100% {
    transform: scale(1.0);
    background-color: rgba(115, 175, 240, .2);
  }
}

@keyframes deathAnimation{
  0% {
    transform: scale(1.2);
    background-color: rgba(115, 175, 240, 1);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(52, 235, 110, 0.75);
  }

  75% {
    transform: scale(.5);
    background-color: rgba(226, 235, 52, 0.75)
  }

  100% {
    transform: scale(0);
    background-color: rgba(41, 4, 24, 0.0);
  }
}


@keyframes boardDieAnimation {
  from { background-position: calc(var(--board-grid-cell) * 36) calc(0px); }
  to { background-position: calc(var(--board-grid-cell) * 1) calc(0px);; }
}

@keyframes frontPageGrowAnimation{
  from { background-position: 0px 0px; }
  to { background-position: calc(var(--grid-cell) * -33) calc(0px); }
}

.simCard {
  transition: margin 0.2s ease-in-out;
}

.simCard:hover {
  margin-top: -10px;
  margin-bottom: 10px;
}